.iron-man-heading{
	color: red;
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
}

.allies-enemies{
	color: white;
}

.allies-enemies{
	color: white;
}

#iron-mans-wife{
	color:red;
}